* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}


/* Header */
.h-container {
  background-color: #1F2937;
}

.header {
  display: flex;
  justify-content: space-between;
  padding-top: 15px;

}
.header-links {
  display: flex;
  gap: 16px;
  list-style-type: none;
}

.logo {
  color: #F9FAf8;
  font-size: 24px;
  font-weight: bold;
}

/* Hero */
.hero-main {
  font-size: 48px;
  font-weight: bolder;
  color: #F9FAF8;
}

.hero {
  display: flex;
  justify-content: space-between;
}

.signup {
  background-color: #3882f6;
  color: #F9FAF8;
  width: 110px;
  padding: 10px;
  border-radius: 8px;
  border: none;
}

.hero-left > *{
  margin-top: 10px;
}

/* Header and Hero */
.hero-sub, .header-links a {
  font-size: 18px;
  color: #E5E7EB;
  text-decoration: none;
}

.header, .hero {
  margin-right: 300px;
  margin-left: 300px;
  padding-bottom: 100px;
}

/* Information Section */

section.information {
  margin-right: 300px;
  margin-left: 300px;
  height: 250px
}

.info-container {
  display: flex;
  justify-content: center;
  gap: 150px;
}

.info-container > .info {
  max-width: 200px;
}

.info > p {
  margin-top: 10px;
  font-size: 18px;
}

.info > img {
  border: 3px solid #3882f6;
  border-radius: 8px;
  width: 200px;
  height: 200px;
}

.info-title {
  margin-top: 75px;
  margin-bottom: 75px;
  text-align: center;
  font-size: 36px;
  color: #1F2937;
  font-weight: bolder;
}












